<h1>Convert <%= @the_symbol %> to </h1>>

<ul>
<% @currencies.each do | symbol|%>
<li>
<a href="<%= @the_symbol %> / <%= symbol%>">Convert 1 <%=@the_symbol %> to <%= symbol%> ... </a>
</li>
<% end%>
</ul>
